body {
  background: #DFE7F2 ;
  position: relative;
}

section {
  min-height: 98vh;
  border-bottom: 1px solid white;
}

header h1{
  margin-left: 30px;
  margin-top: 50px;
  padding-top: 40px;
  text-align : center;
  font-size: 80px;
}

h1 {
  margin-left: 30px;}

header {
  margin-left: 30px;
}

/*nav ul{
  display : flex;
  justify-content: space-evenly;
}*/




#main-menu{
  background: yellow;
  width: 300px;
  position: absolute;
  top: 0;
  right:-300px;
  z-index: 999;
  height: 100%;
  transition: 3s all ease;
}

#main-menu:target {
  right: 0;
  background: rgb(118, 147, 166);
}

#main-menu ul a {
  display: block;
  color : #DFE7F2 ;
  padding: 1em;
  margin-bottom: 1px;
}

.menu-close{
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #DFE7F2;
  width:40px;
  height:40px;
  border-radius: 100%;
  color: rgb(118, 147, 166) ;
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top:0;
  left: 0;
}

.toggle-menu {
  border: 1px solid #000;
  padding: 1em;
}

#main-menu:target + .backdrop{
  display: block;
  background: rgb(118, 147, 166, 0.9);
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height:100%;
  z-index: 998;
}

@media (min-width:640px) {
    #main-menu {
      position: static;
      width: 100%;
      background: transparent;
    }

    #main-menu ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
        #main-menu ul a {
          color: #000;
        }

    .toggle-menu{
      display: none;
    }
    .menu-close {
      display: none;
    }
}










#project {
  margin-left: 30px;
  margin-top: 50px;
}

.project-feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-feature {
  border: 1px solid white;
  marging : 1em;
  padding: 1em;
  flex-basis: 320px;
  flex-grow: 1;
  flex-shrink: 1;
}



#photo {
  margin-left: 30px;
  margin-top: 50px;
}

.photo-feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photo-feature{
  border: 1px solid white;
  marging : 1em;
  padding: 1em;
  flex-grow: 1;
}

.about {
  margin-left: 30px;
  margin-top: 50px;
}
#about {
    background: #7693A6;

}
#about h1 {
  object-fit: none;
}

#contact {
  margin-left: 30px;
  margin-top: 50px;
}

.infocontact {
  margin-left: 30px;
  display-flex: flex;
  font-size: 20px;
  line-height: 20pt;
}
